annotated-types==0.7.0
black==24.4.2
certifi==2024.6.2
charset-normalizer==3.3.2
classify-imports==4.2.0
click==8.1.7
flake8==7.1.0
idna==3.7
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pycodestyle==2.12.0
pydantic==2.7.4
pydantic_core==2.18.4
pyflakes==3.2.0
pyright==1.1.368
reorder-python-imports==3.13.0
requests==2.32.3
setuptools==69.5.1
structlog==24.2.0
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.43.0
